/* home.css */
.home {
  display: grid;
  grid-template-columns: 5em 10fr 5fr 1rem;
}

body{
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.home-content {
  padding-top: 2rem;
  padding-left: 5rem;
}

.blurred {
  filter: blur(2px); /* Desfoca o conteúdo quando a sidebar estiver aberta */
}

.small-space{
  width: 50px;
}

.big-space{
  width: 15em;
}

.production-kits-section{
  grid-column-start: 3;
  grid-column-end: 4;
  padding: 1rem;
  border: 1px solid #000000;
}

.production-kits-section h2{
  margin-bottom: 1em;
}

.kit-car-title{
  margin-left: 4rem;
}

.header {
  display: grid;
  grid-template-columns: 5em 10fr 5fr 1rem;
  grid-column: 1 / -1;
  padding: 2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-bottom: 1px solid #000000;
}

