/* dashboard.css */
.dashboard {
  display: flex;
}


.dashboard-content {
  padding-top: 2rem;
  padding-left: 5rem;
}


.blurred {
  filter: blur(2px); /* Desfoca o conteúdo quando a sidebar estiver aberta */
}