.dashboard {
    display: flex;
    min-height: 100vh;
    margin-left: 50px;
    /* Altura total da viewport */
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    /* Adiciona preenchimento conforme necessário */
    overflow: hidden;
    /* Impede que o conteúdo flua para fora */
}

.dashboard-header {
    text-align: center;
    margin-bottom: 20px;
    /* Espaço abaixo do título do painel */
}

.dashboard-title {
    margin: 0;
    /* Sem margem para o título */
    padding-bottom: 10px;
    /* Espaço acima da linha de divisão */
    border-bottom: 2px solid #000;
    /* Linha de divisão */
}

.tables-container {
    display: flex;
    gap: 20px;
    /* Isso cria espaço entre suas tabelas */
}

.tabela_kits,
.tabela_itens {
    width: calc(50% - 10px);
    /* Define a largura de cada container de tabela */
    /* Define uma altura fixa para as tabelas */
    overflow-y: auto;
    /* Habilita rolagem vertical dentro das tabelas */
    /* ...outros estilos como sombra, border-radius, etc... */
    height: 60vh;
}

.log_atividades {
    margin-top: 20px;
    height: 60vh; /* Ajuste esse valor para controlar a altura da tabela */ /* Isso adicionará uma barra de rolagem se o conteúdo exceder a altura */
}
